@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';

.nav-tabs {
  display: flex;
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
}

.nav-link.active {
  background-color: var(--my-blue);
  color: var(--my-white);
}

.nav-link {
  border: none;
  color: var(--my-white);
}

li button {
  width: 5.8rem;
}