@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.screen-router {
  height: 100svh;
  overflow-x: hidden;
  display: flex;
  align-items: start;
}

.background-image {
  background-image: url("/assets/office-building.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 30vw;

  display: flex;
  align-items: center;

  h1 {
    font-family: "Segoe UI", serif;
    text-shadow: #001e2b 1px 0 10px;
    font-size: 3.5rem;
    top: 15%;
  }
}

.background-image-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
  height: 100%;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .screen-router {
    width: 90%;
    margin-left: 10%;
  }
}

@include media-breakpoint-down(md) {
  .screen-router {
    width: 100%;
    justify-content: center;
  }
  .background-image-container {
    display: none;
  }
}