@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.gradient-text {
  background-image: -webkit-linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  background-image: -moz-linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  background-image: -o-linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  background-image: linear-gradient(to right, var(--my-dark-red), var(--my-pink));

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:after {
  content: '👋';
}

h6 {
  letter-spacing: 1px;
}

@include media-breakpoint-up(md) {
  h6 {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  h1:after {
    content: '';
  }
}