<div class="d-flex flex-column pt-3">

    <div class="account pt-2">
        <p>CASH MACHINE - {{ accountType }}</p>
        <p class="account-number">{{ accountNumber }}</p>
        <div class="d-inline-flex pt-3 pb-3">
            Balance:
            <h3 class="pe-1">{{ balance }}</h3>
            <h3>{{ currency }}</h3>
        </div>
    </div>

    <form class="d-flex flex-column gap-1 pt-1">

        <div class="d-flex flex-column">
            <label for="account">Account</label>
            <div class="d-inline-flex flex-row gap-2">
                <input type="number" id="account" class="form-control"/>
                <button class="btn btn-primary receiver">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
        </div>

        <div class="d-flex flex-column">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control"/>
        </div>

        <div class="d-flex flex-column">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control"/>
        </div>

        <div class="d-flex pt-3">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>

    </form>
</div>