@if (currencyDetails()) {
    <div class="d-flex gap-2">
        <app-chart-type-switch-button class="w-100"></app-chart-type-switch-button>
        <app-chart-filter-switch-button class="w-100" filterType="LAST_10M" buttonName="Last 10m"></app-chart-filter-switch-button>
        <app-chart-filter-switch-button class="w-100" filterType="TODAY" buttonName="Today"></app-chart-filter-switch-button>
        <app-chart-filter-switch-button class="w-100" filterType="LAST_24H" buttonName="Last 24h"></app-chart-filter-switch-button>
    </div>
    <div [class.blur]="currencyDetails()?.exchangeSymbol != chartType()">
        <canvas id="chart" class="chart">{{ currencyChart() }}</canvas>
    </div>
} @else {
    <app-loading-spinner></app-loading-spinner>
}
