/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Fontawesome SCSS file. */
@import "@fortawesome/fontawesome-free/css/all.css";

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

:root {
  --my-white: #e8edeb;
  --my-light-blue: #00659b;
  --my-blue: #0057da;
  --my-dark-blue: #001821;
  --my-pink: #bb18fc;
  --my-dark-red: #a10000;
}

html, body {
  background: linear-gradient(90deg, var(--my-dark-blue) 30%, var(--my-light-blue) 100%);
  color: var(--my-white);
  font-family: "Trebuchet MS", serif;
}

.cursor-pointer {
  cursor: pointer;
}

@include media-breakpoint-down(sm) {
  :root {
    font-size: 10px;
  }
}

@include media-breakpoint-down(md) {
  :root {
    font-size: 15px;
  }
}

@include media-breakpoint-down(lg) {
  :root {
    font-size: 16px;
  }
}

@include media-breakpoint-down(xl) {
  :root {
    font-size: 17px;
  }
}

@include media-breakpoint-up(xl) {
  :root {
    font-size: 18px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--my-dark-blue);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: -webkit-linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  background: -moz-linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  background: -o-linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  background: linear-gradient(to right, var(--my-dark-red), var(--my-pink));
  border-radius: 10px;
  border: var(--my-dark-blue) 1px solid;
}

::-webkit-scrollbar-thumb:vertical {
  background: -webkit-linear-gradient(to bottom, var(--my-dark-red), var(--my-pink));
  background: -moz-linear-gradient(to bottom, var(--my-dark-red), var(--my-pink));
  background: -o-linear-gradient(to bottom, var(--my-dark-red), var(--my-pink));
  background: linear-gradient(to bottom, var(--my-dark-red), var(--my-pink));
  border-radius: 10px;
  border: var(--my-dark-blue) 1px solid;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 600000s 0s !important;
  -webkit-text-fill-color: var(--my-white) !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
}