<div class="modal-content">
    <div class="modal-header">
        <div class="w-100" ngbAccordion #accordion="ngbAccordion">
            <div ngbAccordionItem="search" #search="ngbAccordionItem" class="bg-transparent">
                <div ngbAccordionHeader>
                    <div ngbAccordionToggle (click)="clearFilter()"
                         class="d-flex justify-content-between align-items-center pt-1 px-2 cursor-pointer">
                        <h2>Contacts</h2>
                        <app-hamburger [checked]="!search.collapsed"
                                       (onHamburgerChange)="accordion.toggle('search'); clearFilter()">
                        </app-hamburger>
                    </div>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody class="px-2">
                        <app-hamburger-options></app-hamburger-options>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">
        @if (allUserContacts()) {
            @for (userContact of userContacts(); track userContacts()) {
                <button type="button" class="btn btn-primary w-100 mb-2" (click)="select(userContact)">
                    <p class="m-0">{{ userContact.accountNumber }}</p>
                    <p class="m-0">{{ userContact.assignedName }}</p>
                </button>
            }
            @if (userContacts()?.length == 0) {
                <h4 class="d-flex justify-content-center">Nothing here...</h4>
            }
        } @else {
            <app-loading-spinner class="d-flex justify-content-center"/>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
</div>
