.modal-content {
  color: var(--my-white);
  border: 1px var(--my-white) solid;
  background: linear-gradient(90deg, var(--my-dark-blue) 30%, var(--my-light-blue) 100%);
  font-family: "Trebuchet MS", serif;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}

.accordion-item {
  color: var(--my-white);
  border: 0;
}

.accordion-body {
  padding-top: 1rem;
  padding-bottom: 0;
}

.accordion-item i {
  font-size: 1.5rem;
}
